In [2]:
import pandas as pd
import numpy as np
import datetime

Import billboard csv and display the top 10.

In [3]:
billboard = pd.read_csv('https://raw.githubusercontent.com/staceyvo/IS362_Project2/master/billboard_data.csv')
billboard.head(10)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,9/23/00,11/18/00,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2/12/00,4/8/00,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,10/23/99,1/29/00,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,8/12/00,9/16/00,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,8/5/00,10/14/00,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,Janet,Doesn't Really Matter,4:17,Rock,6/17/00,8/26/00,59,52.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,Destiny's Child,Say My Name,4:31,Rock,12/25/99,3/18/00,83,83.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,4/1/00,6/24/00,63,45.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Sisqo,Incomplete,3:52,Rock,6/24/00,8/12/00,77,66.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,Lonestar,Amazed,4:25,Country,6/5/99,3/4/00,81,54.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We will melt this table to make the data easier to read.

In [4]:
id_vars = ['year','artist.inverted','track','time','genre','date.entered','date.peaked']
billboard = pd.melt(frame=billboard,id_vars=id_vars, var_name='week', value_name='rank')
billboard.head(10)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,9/23/00,11/18/00,x1st.week,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2/12/00,4/8/00,x1st.week,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,10/23/99,1/29/00,x1st.week,71.0
3,2000,Madonna,Music,3:45,Rock,8/12/00,9/16/00,x1st.week,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,8/5/00,10/14/00,x1st.week,57.0
5,2000,Janet,Doesn't Really Matter,4:17,Rock,6/17/00,8/26/00,x1st.week,59.0
6,2000,Destiny's Child,Say My Name,4:31,Rock,12/25/99,3/18/00,x1st.week,83.0
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,4/1/00,6/24/00,x1st.week,63.0
8,2000,Sisqo,Incomplete,3:52,Rock,6/24/00,8/12/00,x1st.week,77.0
9,2000,Lonestar,Amazed,4:25,Country,6/5/99,3/4/00,x1st.week,81.0

We will fomat the data, remove NaN values, and we will remove the extra data from the week column, leaving behind only an integer.

In [5]:
billboard['week'] = billboard['week'].astype(str)
billboard = billboard.dropna()
billboard['week'] = billboard['week'].str.extract('(\d+)', expand=False).astype(int)
billboard['rank'] = billboard['rank'].astype(int)
billboard.head(10)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,9/23/00,11/18/00,1,78
1,2000,Santana,"Maria, Maria",4:18,Rock,2/12/00,4/8/00,1,15
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,10/23/99,1/29/00,1,71
3,2000,Madonna,Music,3:45,Rock,8/12/00,9/16/00,1,41
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,8/5/00,10/14/00,1,57
5,2000,Janet,Doesn't Really Matter,4:17,Rock,6/17/00,8/26/00,1,59
6,2000,Destiny's Child,Say My Name,4:31,Rock,12/25/99,3/18/00,1,83
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,4/1/00,6/24/00,1,63
8,2000,Sisqo,Incomplete,3:52,Rock,6/24/00,8/12/00,1,77
9,2000,Lonestar,Amazed,4:25,Country,6/5/99,3/4/00,1,81

Next, we will group the data to see what genres are represented in this dataset.

In [6]:
billboard.groupby('genre').genre.count()

genre
Country        1200
Electronica      72
Gospel           20
Jazz              5
Latin           173
Pop             137
R&B             261
Rap             837
Reggae           15
Rock           2587
Name: genre, dtype: int64

Next we will create a table of songs, removing duplicate listings.

In [7]:
songs_cols = ['year', 'artist.inverted', 'track', 'time', 'genre']
songs = billboard[songs_cols].drop_duplicates()
songs = songs.reset_index(drop=True)
songs["song_id"] = songs.index
songs.head(10)

,year,artist.inverted,track,time,genre,song_id
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,0
1,2000,Santana,"Maria, Maria",4:18,Rock,1
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,2
3,2000,Madonna,Music,3:45,Rock,3
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,4
5,2000,Janet,Doesn't Really Matter,4:17,Rock,5
6,2000,Destiny's Child,Say My Name,4:31,Rock,6
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,7
8,2000,Sisqo,Incomplete,3:52,Rock,8
9,2000,Lonestar,Amazed,4:25,Country,9

Now we will take a look at 311 Service requests.

Let's start by importing the 311 Service Requests from January in order to take a look at the data.

In [8]:
serv_req = pd.read_csv('https://raw.githubusercontent.com/staceyvo/IS362_Project2/master/311_Service_Requests_2011_Jan.csv')
serv_req

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,19511121,1/1/11 1:29,1/2/11 12:00,DSNY,BCC - Brooklyn South,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11234.0,1550 EAST 45 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.622711,-73.932144,"(40.62271080687477, -73.93214392318005)"
1,19511122,1/1/11 1:32,1/1/11 12:00,DSNY,BCC - Staten Island,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,10312.0,356 PHILIP AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.527132,-74.176004,"(40.52713164464706, -74.17600383835862)"
2,19511123,1/1/11 3:20,1/13/11 12:00,DSNY,A - Queens,Snow,E9 Snow / Icy Sidewalk,Sidewalk,11103.0,33-11 ASTORIA BOULEVARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.770234,-73.915625,"(40.77023389900805, -73.9156247079009)"
3,19511124,1/1/11 3:23,1/13/11 12:00,DSNY,A - Brooklyn,Snow,E9 Snow / Icy Sidewalk,Sidewalk,11236.0,1772 ROCKAWAY PARKWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.638377,-73.894803,"(40.63837741606071, -73.89480323730983)"
4,19511125,1/1/11 3:47,1/2/11 12:00,DSNY,BCC - Queens East,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11427.0,82-14 235 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.735342,-73.735860,"(40.735342377118315, -73.73586007167354)"
5,19511126,1/1/11 4:35,1/1/11 12:00,DSNY,BCC - Brooklyn South,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11236.0,717 EAST 85 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.639064,-73.910941,"(40.63906351980575, -73.91094071308096)"
6,19511072,1/1/11 5:08,1/2/11 12:00,DSNY,BCC - Brooklyn South,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11234.0,1933 EAST 52 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.612424,-73.924223,"(40.61242386235272, -73.92422338792173)"
7,19511073,1/1/11 5:11,1/2/11 12:00,DSNY,BCC - Brooklyn South,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11210.0,4042 HUBBARD PLACE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.625164,-73.936205,"(40.62516423088441, -73.93620494650858)"
8,19511074,1/1/11 5:54,1/2/11 12:00,DSNY,Queens East 12,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11436.0,123-19 147 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.675382,-73.791386,"(40.67538152427076, -73.79138588572421)"
9,19511075,1/1/11 6:22,1/1/11 12:00,DSNY,BCC - Queens East,Sanitation Condition,12 Dead Animals,Sidewalk,11411.0,FRANCIS LEWIS BOULEVARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.687627,-73.740506,"(40.68762680582363, -73.74050585571369)"
10,19511129,1/1/11 6:36,1/2/11 12:00,DSNY,Queens East 12,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11412.0,190-31 117 ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.691529,-73.760179,"(40.691528648929925, -73.7601794764594)"
11,19511130,1/1/11 6:41,1/1/11 12:00,DSNY,BCC - Brooklyn South,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11223.0,1879 EAST 3 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.604098,-73.969944,"(40.60409798784418, -73.96994378676368)"
12,19511127,1/1/11 6:43,1/1/11 12:00,DSNY,BCC - Brooklyn North,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11212.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.658550,-73.915726,"(40.65854960713804, -73.91572632275415)"
13,19511131,1/1/11 6:44,1/6/11 12:00,DSNY,Department of Sanitation,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11226.0,121 EAST 28 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.646287,-73.950992,"(40.646287136536685, -73.950991734946)"
14,19511128,1/1/11 6:46,1/2/11 12:00,DSNY,BCC - Brooklyn South,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11210.0,1051 EAST 39 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.631059,-73.938768,"(40.63105868904791, -73.93876805651462)"
15,19511132,1/1/11 6:51,1/1/11 12:00,DSNY,BCC - Brooklyn South,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11234.0,2461 EAST 65 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.610724,-73.907719,"(40.610723747739954, -73.90771904433139)"
16,19510937,1/1/11 6:54,1/1/11 12:00,DSNY,BCC - Brooklyn North,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11208.0,NORWOOD AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.680706,-73.878891,"(40.68070551668079, -73.87889068241874)"
17,19511133,1/1/11 6:56,1/1/11 12:00,DSNY,BCC - Staten Island,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,10309.0,20 SOUTH DRUM STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.527184,-74.217378,"(40.52718427177371, -74.2173782437847)"
18,19511076,1/1/11 6:59,1/3/11 12:00,DSNY,BCC - Brooklyn South,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11204.0,70 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.615635,-73.992051,"(40.615635270300544, -73.99205061989983)"
19,19510938,1/1/11 7:19,1/2/11 12:00,DSNY,BCC - Brooklyn South,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11210.0,EAST 37 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.630415,-73.940610,"(40.630414629540255, -73.94060962331729)"
20,19510727,1/1/11 7:19,1/1/11 7:19,DEP,Department of Environmental Protection,Sewer,Manhole Overflow (Use Comments) (SA1),NaN,NaN,W 15 ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,19511220,1/1/11 7:31,1/1/11 12:00,DSNY,BCC - Brooklyn South,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11235.0,2645 EAST 18 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.587096,-73.951258,"(40.58709578717851, -73.95125839529018)"
22,19511221,1/1/11 7:34,1/1/11 12:00,DSNY,BCC - Queens East,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11422.0,137-04 253 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.662423,-73.728302,"(40.662423443022426, -73.72830195732415)"
23,19510728,1/1/11 7:35,1/1/11 8:05,DEP,Department of Environmental Protection,Sewer,Manhole Cover Missing (Emergency) (SA3),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,19511222,1/1/11 7:45,1/1/11 12:00,DSNY,BCC - Brooklyn North,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11208.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.669803,-73.881546,"(40.66980328028655, -73.88154560385125)"
25,19511223,1/1/11 7:49,1/1/11 12:00,DSNY,BCC - Brooklyn North,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11233.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.672499,-73.916855,"(40.672499396493265, -73.91685507575178)"
26,19511224,1/1/11 7:54,1/1/11 12:00,DSNY,BCC - Brooklyn North,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11225.0,MIDWOOD STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.659832,-73.955134,"(40.659831582941706, -73.95513391589834)"
27,19511225,1/1/11 7:58,1/1/11 12:00,DSNY,BCC - Brooklyn North,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11208.0,ESSEX STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.669160,-73.880505,"(40.66915992575393, -73.88050496275275)"
28,19511226,1/1/11 8:00,1/1/11 12:00,DSNY,BCC - Brooklyn North,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11208.0,SHEPHARD AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.669291,-73.879604,"(40.66929073531887, -73.87960352967053)"
29,19511136,1/1/11 8:01,1/2/11 12:00,DSNY,Queens East 12,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11412.0,205-23 112 ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.703439,-73.750262,"(40.703439105235496, -73.75026161567159)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13759,19725953,1/31/11 21:35,2/1/11 12:00,DSNY,BCC - Brooklyn South,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11223.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.609050,-73.970896,"(40.6090498444269, -73.97089596516521)"
13760,19725963,1/31/11 21:36,2/1/11 12:00,DSNY,BCC - Brooklyn South,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11218.0,142 EAST 8 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.646692,-73.972245,"(40.64669222341254, -73.97224529884133)"
13761,19725292,1/31/11 21:39,2/14/11 12:00,DSNY,A - Brooklyn,Snow,E9 Snow / Icy Sidewalk,Sidewalk,11205.0,70 CLERMONT AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.695244,-73.971291,"(40.695244336534195, -73.97129108293917)"
13762,19725952,1/31/11 21:42,2/3/11 12:00,DSNY,Bronx 10,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,10461.0,2436 FULLER STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.841529,-73.851311,"(40.84152904046278, -73.85131123166222)"
13763,19725823,1/31/11 21:45,2/4/11 12:00,DSNY,BCC - Queens East,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11357.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775609,-73.803792,"(40.77560917969173, -73.80379188981568)"
13764,19731817,1/31/11 21:49,1/31/11 23:05,DEP,Department of Environmental Protection,Hazardous Materials,"Unsafe Chemical, Storage (HC1)",NaN,NaN,188 claremont AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13765,19725291,1/31/11 22:00,2/24/11 12:00,DSNY,A - Queens,Snow,E9 Snow / Icy Sidewalk,Sidewalk,11417.0,137-40 LAFAYETTE STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.671796,-73.844945,"(40.67179639969396, -73.84494480065081)"
13766,19726182,1/31/11 22:01,2/10/11 12:00,DSNY,A - Canine Task Force Citywide,Dirty Conditions,E8 Canine Violation,Sidewalk,11230.0,1111 OCEAN AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.634932,-73.958119,"(40.6349320282981, -73.95811947562665)"
13767,19725128,1/31/11 22:01,2/10/11 12:00,DSNY,A - Staten Island,Snow,E9 Snow / Icy Sidewalk,Sidewalk,10314.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.616360,-74.156760,"(40.61636033091568, -74.15675981576764)"
13768,19725970,1/31/11 22:02,2/2/11 12:00,DSNY,Queens East 12,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11433.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.695379,-73.794053,"(40.69537929963821, -73.79405321638271)"
13769,19725794,1/31/11 22:03,1/31/11 22:03,DSNY,BCC - Brooklyn North,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11236.0,BRISTOL STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.653307,-73.908475,"(40.65330702048626, -73.9084746307391)"
13770,19725301,1/31/11 22:03,2/8/11 12:00,DSNY,A - Bronx,Snow,E9 Snow / Icy Sidewalk,Sidewalk,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13771,19725951,1/31/11 22:05,1/31/11 22:05,DSNY,BCC - Brooklyn North,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11207.0,571 LIBERTY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.675572,-73.888674,"(40.67557168735456, -73.88867352397023)"
13772,19725776,1/31/11 22:06,2/7/11 12:00,DSNY,Queens West 02,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11101.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.746143,-73.941737,"(40.74614296670958, -73.94173710860711)"
13773,19725139,1/31/11 22:06,2/8/11 12:00,DSNY,A - Brooklyn,Snow,E9 Snow / Icy Sidewalk,Sidewalk,11233.0,1753 STERLING PLACE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.670932,-73.920779,"(40.67093215296275, -73.92077914088195)"
13774,19725787,1/31/11 22:07,2/1/11 12:00,DSNY,BCC - Queens East,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11360.0,15-60 216 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.786172,-73.777024,"(40.78617167135974, -73.7770239567397)"
13775,19725786,1/31/11 22:09,2/7/11 12:00,DSNY,BCC - Staten Island,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,10302.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.624990,-74.144024,"(40.62499016105151, -74.14402397144681)"
13776,19725072,1/31/11 22:10,2/6/11 12:00,DSNY,A - Queens,Snow,E9 Snow / Icy Sidewalk,Sidewalk,11378.0,73-49 52 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.733830,-73.889392,"(40.73383005391212, -73.88939166313448)"
13777,19725950,1/31/11 22:11,2/1/11 12:00,DSNY,BCC - Brooklyn South,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11223.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.604444,-73.970023,"(40.60444385283973, -73.97002285945007)"
13778,19726228,1/31/11 22:12,2/2/11 12:00,DSNY,Queens East 12,Collection Truck Noise,21 Collection Truck Noise,Sidewalk,11434.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.672385,-73.785739,"(40.67238482259051, -73.78573906221705)"
13779,19725775,1/31/11 22:18,2/1/11 12:00,DSNY,BCC - Staten Island,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,10306.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.567293,-74.138900,"(40.56729249868609, -74.13890015797347)"
13780,19725774,1/31/11 22:34,2/1/11 12:00,DSNY,BCC - Staten Island,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,10306.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.579610,-74.109111,"(40.579610411046495, -74.10911094943133)"
13781,19725969,1/31/11 22:35,2/7/11 12:00,DSNY,BCC - Queens West,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11377.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.757082,-73.906470,"(40.75708225296475, -73.90646951471787)"
13782,19725687,1/31/11 22:46,2/2/11 12:00,DSNY,Queens East 12,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11423.0,197-02 HILLSIDE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.718438,-73.765238,"(40.71843786771066, -73.76523771470592)"
13783,19725290,1/31/11 22:47,2/5/11 12:00,DSNY,A - Manhattan,Snow,E9 Snow / Icy Sidewalk,Sidewalk,10128.0,47 EAST 91 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.783862,-73.956036,"(40.78386206701283, -73.95603614197262)"
13784,19726179,1/31/11 22:55,3/4/11 12:00,DSNY,A - Brooklyn,Dirty Conditions,E3A Dirty Area/Alleyway,Lot,11221.0,657 JEFFERSON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.685404,-73.931662,"(40.685404094436464, -73.93166186969707)"
13785,19725984,1/31/11 23:38,2/5/11 12:00,DSNY,BCC - Brooklyn North,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11206.0,MONTROSE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.707090,-73.945714,"(40.70708976027518, -73.94571351421709)"
13786,19725929,1/31/11 23:43,2/1/11 12:00,DSNY,Bronx 04,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,10456.0,1252 CLAY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.833347,-73.910052,"(40.8333474362489, -73.91005187306402)"
13787,19726229,1/31/11 23:51,2/1/11 12:00,DSNY,BCC - Brooklyn North,Collection Truck Noise,21 Collection Truck Noise,Sidewalk,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13788,19725122,1/31/11 23:53,2/4/11 12:00,DSNY,A - Manhattan,Snow,E9 Snow / Icy Sidewalk,Sidewalk,10010.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.738167,-73.983632,"(40.73816657030053, -73.98363176291305)"

Let's rename the columns to make the data easier to work with.

In [9]:
serv_req.columns = [c.replace(' ', '_') for c in serv_req.columns]
serv_req.head(10)

,Unique_Key,Created_Date,Closed_Date,Agency,Agency_Name,Complaint_Type,Descriptor,Location_Type,Incident_Zip,Incident_Address,...,Vehicle_Type,Taxi_Company_Borough,Taxi_Pick_Up_Location,Bridge_Highway_Name,Bridge_Highway_Direction,Road_Ramp,Bridge_Highway_Segment,Latitude,Longitude,Location
0,19511121,1/1/11 1:29,1/2/11 12:00,DSNY,BCC - Brooklyn South,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11234.0,1550 EAST 45 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.622711,-73.932144,"(40.62271080687477, -73.93214392318005)"
1,19511122,1/1/11 1:32,1/1/11 12:00,DSNY,BCC - Staten Island,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,10312.0,356 PHILIP AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.527132,-74.176004,"(40.52713164464706, -74.17600383835862)"
2,19511123,1/1/11 3:20,1/13/11 12:00,DSNY,A - Queens,Snow,E9 Snow / Icy Sidewalk,Sidewalk,11103.0,33-11 ASTORIA BOULEVARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.770234,-73.915625,"(40.77023389900805, -73.9156247079009)"
3,19511124,1/1/11 3:23,1/13/11 12:00,DSNY,A - Brooklyn,Snow,E9 Snow / Icy Sidewalk,Sidewalk,11236.0,1772 ROCKAWAY PARKWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.638377,-73.894803,"(40.63837741606071, -73.89480323730983)"
4,19511125,1/1/11 3:47,1/2/11 12:00,DSNY,BCC - Queens East,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11427.0,82-14 235 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.735342,-73.735860,"(40.735342377118315, -73.73586007167354)"
5,19511126,1/1/11 4:35,1/1/11 12:00,DSNY,BCC - Brooklyn South,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11236.0,717 EAST 85 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.639064,-73.910941,"(40.63906351980575, -73.91094071308096)"
6,19511072,1/1/11 5:08,1/2/11 12:00,DSNY,BCC - Brooklyn South,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11234.0,1933 EAST 52 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.612424,-73.924223,"(40.61242386235272, -73.92422338792173)"
7,19511073,1/1/11 5:11,1/2/11 12:00,DSNY,BCC - Brooklyn South,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11210.0,4042 HUBBARD PLACE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.625164,-73.936205,"(40.62516423088441, -73.93620494650858)"
8,19511074,1/1/11 5:54,1/2/11 12:00,DSNY,Queens East 12,Snow,15S Re-Plow/Spread/Ice-Snow Cond.,Street,11436.0,123-19 147 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.675382,-73.791386,"(40.67538152427076, -73.79138588572421)"
9,19511075,1/1/11 6:22,1/1/11 12:00,DSNY,BCC - Queens East,Sanitation Condition,12 Dead Animals,Sidewalk,11411.0,FRANCIS LEWIS BOULEVARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.687627,-73.740506,"(40.68762680582363, -73.74050585571369)"

First, we will start by looking at how many service requests came from each borough.

In [10]:
by_borough = serv_req.groupby('Borough').Complaint_Type.count().reset_index(name='Count')
by_borough

         Borough  Count
0          BRONX   1524
1       BROOKLYN   4622
2      MANHATTAN   1180
3         QUEENS   4709
4  STATEN ISLAND   1731
5    Unspecified     23

What did people complain about most during the month of January? Snow

In [11]:
complaint_type = serv_req.groupby('Complaint_Type').Complaint_Type.count().reset_index(name='Count')
complaint_type

                             Complaint_Type  Count
0                                       ATF      1
1                            Adopt-A-Basket      3
2                               Air Quality     17
3                          BEST/Site Safety      2
4                                   Boilers      2
5                              Building/Use     12
6                    Collection Truck Noise     25
7                              Damaged Tree      4
8                                 Dead Tree      1
9                          Derelict Bicycle     10
10                        Derelict Vehicles    575
11                         Dirty Conditions   1883
12                               Electrical      2
13                                 Elevator      4
14               For Hire Vehicle Complaint      2
15            General Construction/Plumbing     33
16                                 Graffiti      6
17                      Hazardous Materials     10
18                        Highway Condition     12
19                      Illegal Tree Damage      4
20                         Industrial Waste     60
21      Investigations and Discipline (IAD)      1
22                                     Lead     13
23                  Litter Basket / Request     92
24        Missed Collection (All Materials)    223
25                                    Noise     41
26                      Noise - Residential      3
27                     Non-Residential Heat    205
28                        Other Enforcement    265
29               Overflowing Litter Baskets     41
30                  Overgrown Tree/Branches      5
31                                    Plant      1
32                                 Plumbing      3
33                    Recycling Enforcement     70
34            Root/Sewer/Sidewalk Condition     11
35                     Sanitation Condition    775
36                                    Sewer    263
37                                  Smoking    118
38                                     Snow   8655
39  Special Projects Inspection Team (SPIT)      3
40                            Stalled Sites      2
41                         Street Condition     21
42               Sweeping/Missed-Inadequate     21
43                 Traffic Signal Condition     18
44                               Vacant Lot     25
45                       Water Conservation     13
46                            Water Quality      3
47                             Water System    230

Importing Titanic data

In [12]:
titanic_data = pd.read_csv('https://raw.githubusercontent.com/staceyvo/IS362_Project2/master/titanic_data.csv')
titanic_data.head(10)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48.0000,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39.0000,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.0000,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"

For age, let's replace NaN with 0 and caste type as integer

In [14]:
titanic_data['age'] = titanic_data.age.fillna(0).astype(int)
titanic_data.head(10)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"

We have a few columns that are missing a lot values and we don't need them for analysis, so we will remove them.

In [15]:
titanic = titanic_data.drop(titanic_data.columns[[5,6, 12]], axis=1)
titanic.head(10)

,pclass,survived,name,sex,age,ticket,fare,cabin,embarked,boat,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,24160,211.3375,B5,S,2,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0,113781,151.5500,C22 C26,S,11,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,113781,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,113781,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,113781,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48,19952,26.5500,E12,S,3,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63,13502,77.9583,D7,S,10,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39,112050,0.0000,A36,S,NaN,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53,11769,51.4792,C101,S,D,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71,PC 17609,49.5042,NaN,C,NaN,"Montevideo, Uruguay"

Now we'll see the survivors broken down by class.

In [20]:
passengers = titanic.groupby('pclass').name.count()
passengers

pclass
1    323
2    277
3    709
Name: name, dtype: int64

Now that we know how many passengers there were by class, let's see how many survivors there were by class.

In [85]:
survivors_class = titanic.groupby('pclass').survived.sum()
survivors_class

pclass
1    200
2    119
3    181
Name: survived, dtype: int64

What was the survivor breakdown by gender?

In [86]:
survivors_sex = titanic.groupby('sex').survived.sum()
survivors_sex

sex
female    339
male      161
Name: survived, dtype: int64

What was the average fare paid by gender?

In [88]:
fare = titanic.groupby('sex').fare.mean()
fare

sex
female    46.198097
male      26.154601
Name: fare, dtype: float64